<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# 📝 Assignment

## 1. Dataset 불러오기
> seaborn 라이브러리의 load_dataset()을 활용해서 iris 데이터셋을 데이터프레임으로 불러옵니다. 데이터프레임의 이름은 df_iris로 합니다. <br>
> df_iris의 shape의 **첫번째 값을 두번째 값으로 나눈 값**을 `res1`에 저장하세요

In [22]:
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')
df_iris.head()
df_iris.shape

res1 = df_iris.shape[0] / df_iris.shape[1]
res1

30.0

## 2. X 구하기
> df_iris에서 sepal_length만 남겨주세요. 그리고 sepal_length 칼럼의 이름은 x로 바꿉니다

In [23]:
df_iris = df_iris[['sepal_length']]
df_iris.head()

   sepal_length
0           5.1
1           4.9
2           4.7
3           4.6
4           5.0

In [26]:
df_iris.rename(columns={'sepal_length' : 'x'}, inplace=True)

df_iris.head()

     x
0  5.1
1  4.9
2  4.7
3  4.6
4  5.0

## 3. 기초 미분

다음 함수를 미분한 도함수를 구한 후에 num_one 함수를 완성하세요. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one 함수를 x에 적용한 후에 **derivative_one**이라는 칼럼으로 df_iris에 저장합니다. (Hint : df.apply)
- derivative_one 칼럼의 합을 `res2`에 저장합니다 (소수점 세자리까지)

In [ ]:
import numpy as np

def num_one(x):
  #20x^4 + 27x^2 + 2ex
  return (20*x**4 + 27*x**2 + 2*np.exp(1)*x)

df_iris['derivative_one'] = df_iris['x'].apply(num_one)
df_iris.head()

In [ ]:
res2 = sum(df_iris['derivative_one'])
round(res2, 3)

- 이번에는 scipy의 [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)를 활용하여 **derivative_two** 칼럼으로 저장하세요.
  - dx는 1e-7로 설정합니다.
- derivative_two 칼럼의 합을 `res3`에 저장합니다 (소수점 세자리까지)

In [34]:
from scipy.misc import derivative

def f(x):
    return (4*x**2 + 9*x**3 + np.exp(1)*x**2 - 7)

df_iris['derivative_two'] = derivative(f,df_iris['x'].apply(f), dx=1e-7)
df_iris.head()

     x  derivative_one  derivative_two
0  5.1    14260.398475    5.007523e+07
1  4.9    12204.511162    3.975292e+07
2  4.7    10381.343849    3.126361e+07
3  4.6     9551.240193    2.762082e+07
4  5.0    13202.182818    4.466681e+07

In [35]:
res3 = sum(df_iris['derivative_two'])
round(res3, 3)

21565948185.921

## 4. 미분 연습

>아래 함수들의 도함수를 작성해주세요.

 $f(x) = e^x$

In [ ]:
def e_prime(x):
    return np.exp(x)

# 참고 : https://blog.naver.com/PostView.nhn?blogId=sbssbi69&logNo=90164383593

$f(x) = lnx$

In [ ]:
def ln_prime(x):
    return 1 / x

# 참고 : https://blog.naver.com/PostView.nhn?blogId=sbssbi69&logNo=90164383593

$f(x) = Sin(2x)$

In [ ]:
def sine_prime(2x):
    return 2*np.cos(2*x)

# 참고 : https://rfriend.tistory.com/296 (삼각함수)

$f(x) = (2x^2 + 8x)^2$

In [ ]:
def f_prime(x):
    return 2*(2*x**2+8*x) + 4*x+8

## 5. 편미분

주어진 `machine learning model`의 `error function` ($\varepsilon$)이 다음과 같을 때 `error function`을 **최소화** 하는 최적의 `parameter`들을  구하세요. 그 후 결과를 각각 `p1`, `p2`에 저장하세요.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- 단 최적의 $p_1$은 $p_2$가 $3$일때, 최적의 $p_2$는 $p_1$이 $10$일때를 기준으로 합니다.

In [ ]:
# 이 곳에 답안을 작성하세요

## 🔥 도전과제

### 다음 함수를 미분하세요. 이후에 x = 3일 때의 결과를 `challenge`에 저장하세요.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [ ]:
def sig_prime(x):
    return None # 이곳에 답안을 작성하세요.