<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 3 / NOTE 1*

# 📝 Assignment

## 1. Portfolio

`Dot product` & `Matrix Multiplication` 을 이용하여 다음 포트폴리오의 사람별 총합을 계산하세요.
- 결과는 `res`에 list형태로 저장합니다.

|People|Name|Price|Amount|
|:-:|:-:|:-:|:-:|
|X|A|100|35|
|X|B|500|10|
|X|C|250|25|
|X|D|50|40|
|Y|A|100|-|
|Y|B|500|50|
|Y|C|250|50|
|Y|D|50|-|
|Z|A|100|-|
|Z|B|500|-|
|Z|C|250|100|
|Z|D|50|-|

In [1]:
import pandas as pd
import numpy as np

In [2]:
data_url = 'https://docs.google.com/uc?export=download&id=1wXgGXvv-a6yAnOBYoPjk2SvaxfBbp2Gv'

df = pd.read_csv(data_url, delimiter='\t')

# 결측치 0으로 대체 및 숫자로 형변환 & 인덱스 설정
df.loc[df['Amount'] == '-', 'Amount'] = 0
df.Amount = pd.to_numeric(df.Amount)
df.set_index('People', inplace=True)

In [3]:
# People 내의 값을 넣으면 그 사람에 해당하는 총합을 산출하는 함수
def total(person):
  price = df.loc[person, 'Price']
  amount = df.loc[person, 'Amount']
  p = np.array(price)
  a = np.array(amount)
  return np.dot(p, a)

In [4]:
# People에서 각각의 고유한 값을 가져오기
people = []
for value in df.index:
  if value not in people: 
    people.append(value)

people

['X', 'Y', 'Z']

In [5]:
res = []
for person in people:
  res.append(total(person))

res

# 참고
# name = np.array([100, 500, 250, 50])

# X = np.array([35, 10, 25, 40])
# Y = np.array([0, 50, 50, 0])
# Z = np.array([0, 0, 100, 0])

# res = [np.dot(name, person) for person in (X, Y, Z)]

[16750, 37500, 25000]

## 2. Norms

주어진 값 $x_0, x_1, ... x_n$ 를 element로 갖는 벡터 $v$에 대하여 

$L_1$ Norm 의 정의는 다음과 같습니다. 

$|v| = |x_0| + |x_1| + ... + |x_n|$

$L_2$ Norm 의 정의는 다음과 같습니다.

$||v|| = \sqrt {{x_0}^2 + {x_1}^2 + ... + {x_n}^2}$

이를 참조하여 주어진 벡터에 대해서 $L_2$ Norm 의 값과 $L_1$ Norm 의 값의 차이(**절대값**)를 계산하는 함수를 만드세요.

In [6]:
def NormDif(v): # v = np.array()
  l_1 = sum(np.abs(v))
  l_2 = np.sqrt(sum(np.square(v)))
  return np.abs(l_2 - l_1)

In [7]:
ex = np.array([100, 500, 250, 50])
NormDif(ex)

329.912287450431

## 3. Errors



- 2개의 벡터와, error의 타입을 입력받아 그 결과값을 계산하는 함수를 작성하세요.

- 여기서 error의 타입은 `MSE`, `MAE` 2가지 입니다.

In [8]:
def error(x, y, type) :
  if type == 'MSE':
    result = sum(np.square(x-y))/len(x)
  elif type == 'MAE':
    result = sum(np.abs(x-y))/len(x)
  else:
    result = 'type error'
  return result

In [9]:
ex1 = np.array([0, 50, 50, 0])
ex2 = np.array([0, 0, 100, 0])
error(ex1, ex2, 'MSE'), error(ex1, ex2, 'MAE')

(1250.0, 25.0)

# 4. Inverse

- 주어진 matrix에 대해서 inverse matrix를 계산하여 반환하는 함수를 작성하세요. 
- 이 때 inverse 계산이 불가능 한 경우 `-1` 을 반환합니다.

In [10]:
def myInverse(m) : # m = np.array()
  try:
    det = np.linalg.det(m)
    return np.linalg.inv(m)
  except:
    return -1

In [11]:
ex3 = np.array([1,2,3,4])
myInverse(ex3)

-1

In [12]:
ex4 = np.array([[1, 2], [3, 6]])
myInverse(ex4)

-1

In [13]:
ex5 = [[0,2],[2,0]] ## np.array() 로 만들지 않아도 결과는 array 형태로 나옴
myInverse(ex5)

array([[0. , 0.5],
       [0.5, 0. ]])

# 🔥 도전과제

다음 링크의 내용을 참조하여 **Cramer's rule**을 사용해 $x_1$, $x_2$, $x_3$의 값을 구하세요.

<https://youtu.be/6StS7VjtuGI>
<https://youtu.be/YFzpYBvevgA>


$x_1$ + $2x_3$ = 6

$-3x_1$ + $4x_2$ + $6x_3$ = 30

$-x_1$ $-2x_2$ + $3x_3$ = 8

In [14]:
# 연립방정식을 행렬로 만들기
A = np.array([
     [1, 0, 2],
     [-3, 4, 6],
     [-1, -2, 3]
])

B = np.array([
     [6],
     [30],
     [8]
])

In [15]:
# 크라메르 공식 함수로 구현
def cramer(A, B):
  x_arr = [] # 미지수 결과값 넣을 리스트
  det_a = np.linalg.det(A) # 좌변의 미지수에 붙어 있는 행렬 A의 행렬식 구하기
  
  for i in range(len(B)): # 미지수 개수 = 행렬 B의 길이 이므로 B의 길이만큼 반복
    n = A.copy() # 행렬 A 그대로 가져오기(각 미지수에 해당하는 열 값 바꾸기 위함)
    n[:, i] = B[:, 0] # 미지수 위치에 해당되는 열 값 바꾸기
    det_sub = np.linalg.det(n) # 열 값 바꾼 행렬의 행렬식 구하기
    result = det_sub / det_a
    x_arr.append(result)
  
  return x_arr

In [16]:
cramer(A, B)

[-0.9090909090909088, 1.6363636363636358, 3.4545454545454533]

In [17]:
# 4차 이상의 행렬도 동일한 방식으로 계산됨
C = np.array([
     [1, 0, 2, 5],
     [-3, 4, 6, -1],
     [-1, -2, 3, 7],
     [5, 1, -4, -6]
])

D = np.array([
     [6],
     [30],
     [8],
     [20]
])

cramer(C, D)

[10.141592920353984,
 -10.389380530973444,
 15.80530973451328,
 -7.1504424778761075]