<img src='https://i.imgur.com/RDAD11M.png' width = '200' align = 'right'>

## *DATA SCIENCE / SECTION 1 / SPRINT 1 / NOTE 4*

---

# üìù Assignment

## 1. Dataset Î∂àÎü¨Ïò§Í∏∞
> seaborn ÎùºÏù¥Î∏åÎü¨Î¶¨Ïùò load_dataset()ÏùÑ ÌôúÏö©Ìï¥ÏÑú iris Îç∞Ïù¥ÌÑ∞ÏÖãÏùÑ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏúºÎ°ú Î∂àÎü¨ÏòµÎãàÎã§. Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏùò Ïù¥Î¶ÑÏùÄ df_irisÎ°ú Ìï©ÎãàÎã§. <br>
> df_irisÏùò shapeÏùò **Ï≤´Î≤àÏß∏ Í∞íÏùÑ ÎëêÎ≤àÏß∏ Í∞íÏúºÎ°ú ÎÇòÎàà Í∞í**ÏùÑ `res1`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî

In [1]:
import seaborn as sns
import numpy as np
np.random.seed(42)

df_iris = sns.load_dataset('iris')
df_iris.shape

res1 = df_iris.shape[0] / df_iris.shape[1]
res1

30.0

## 2. X Íµ¨ÌïòÍ∏∞
> df_irisÏóêÏÑú sepal_lengthÎßå ÎÇ®Í≤®Ï£ºÏÑ∏Ïöî. Í∑∏Î¶¨Í≥† sepal_length ÏπºÎüºÏùò Ïù¥Î¶ÑÏùÄ xÎ°ú Î∞îÍøâÎãàÎã§

In [2]:
# sepal_lengthÎßå ÎÇ®Í∏∞Í∏∞
df_iris = df_iris[['sepal_length']]
df_iris

     sepal_length
0             5.1
1             4.9
2             4.7
3             4.6
4             5.0
..            ...
145           6.7
146           6.3
147           6.5
148           6.2
149           5.9

[150 rows x 1 columns]

In [3]:
# sepal_length ÏπºÎüºÏùò Ïù¥Î¶Ñ xÎ°ú Î∞îÍæ∏Í∏∞
df_iris.rename(columns={'sepal_length' : 'x'}, inplace=True)
df_iris

       x
0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
..   ...
145  6.7
146  6.3
147  6.5
148  6.2
149  5.9

[150 rows x 1 columns]

## 3. Í∏∞Ï¥à ÎØ∏Î∂Ñ

Îã§Ïùå Ìï®ÏàòÎ•º ÎØ∏Î∂ÑÌïú ÎèÑÌï®ÏàòÎ•º Íµ¨Ìïú ÌõÑÏóê num_one Ìï®ÏàòÎ•º ÏôÑÏÑ±ÌïòÏÑ∏Ïöî. 
$f(x) = 4x^5 + 9x^3 + ex^2 - 7$

- num_one Ìï®ÏàòÎ•º xÏóê Ï†ÅÏö©Ìïú ÌõÑÏóê **derivative_one**Ïù¥ÎùºÎäî ÏπºÎüºÏúºÎ°ú df_irisÏóê Ï†ÄÏû•Ìï©ÎãàÎã§. (Hint : df.apply)
- derivative_one ÏπºÎüºÏùò Ìï©ÏùÑ `res2`Ïóê Ï†ÄÏû•Ìï©ÎãàÎã§ (ÏÜåÏàòÏ†ê ÏÑ∏ÏûêÎ¶¨ÍπåÏßÄ)

In [4]:
import numpy as np

e = np.exp(1)

# ÎèÑÌï®Ïàò Íµ¨ÌïòÍ∏∞
def num_one(x):
  #20x^4 + 27x^2 + 2ex
  return 20*(x**4) + 27*(x**2) + 2*e*x

# derivative_one Ïª¨Îüº Ï†ÄÏû•
df_iris['derivative_one'] = df_iris['x'].apply(num_one)
df_iris

       x  derivative_one
0    5.1    14260.398475
1    4.9    12204.511162
2    4.7    10381.343849
3    4.6     9551.240193
4    5.0    13202.182818
..   ...             ...
145  6.7    41550.696977
146  6.3    32611.802351
147  6.5    36877.337664
148  6.2    30624.258695
149  5.9    25206.667726

[150 rows x 2 columns]

In [5]:
# derivative_one Ïª¨Îüº Ìï©ÏùÑ res2Ïóê Ï†ÄÏû•
res2 = round(sum(df_iris['derivative_one']), 3)
res2

4077643.108

- Ïù¥Î≤àÏóêÎäî scipyÏùò [derivative](https://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.derivative.html)Î•º ÌôúÏö©ÌïòÏó¨ **derivative_two** ÏπºÎüºÏúºÎ°ú Ï†ÄÏû•ÌïòÏÑ∏Ïöî.
  - dxÎäî 1e-7Î°ú ÏÑ§Ï†ïÌï©ÎãàÎã§.
- derivative_two ÏπºÎüºÏùò Ìï©ÏùÑ `res3`Ïóê Ï†ÄÏû•Ìï©ÎãàÎã§ (ÏÜåÏàòÏ†ê ÏÑ∏ÏûêÎ¶¨ÍπåÏßÄ)

In [6]:
from scipy.misc import derivative

# ÎØ∏Î∂ÑÌïòÍ∏∞ Ï†ÑÏùò Ìï®Ïàò
def f(x):
    return 4*(x**5) + 9*(x**3) + e*(x**2) - 7

# scipyÏùò derivativeÎ•º ÌôúÏö©ÌïòÏó¨ derivative_two ÏπºÎüºÏúºÎ°ú Ï†ÄÏû•
df_iris['derivative_two'] = derivative(f, df_iris['x'], dx=1e-7)
df_iris

       x  derivative_one  derivative_two
0    5.1    14260.398475    14260.398502
1    4.9    12204.511162    12204.511186
2    4.7    10381.343849    10381.343873
3    4.6     9551.240193     9551.240219
4    5.0    13202.182818    13202.182863
..   ...             ...             ...
145  6.7    41550.696977    41550.697097
146  6.3    32611.802351    32611.802490
147  6.5    36877.337664    36877.337734
148  6.2    30624.258695    30624.258798
149  5.9    25206.667726    25206.667779

[150 rows x 3 columns]

In [7]:
# derivative_two Ïª¨ÎüºÏùò Ìï©ÏùÑ res3Ïóê Ï†ÄÏû•
res3 = round(sum(df_iris['derivative_two']), 3)
res3

4077643.121

## 4. ÎØ∏Î∂Ñ Ïó∞Ïäµ

>ÏïÑÎûò Ìï®ÏàòÎì§Ïùò ÎèÑÌï®ÏàòÎ•º ÏûëÏÑ±Ìï¥Ï£ºÏÑ∏Ïöî.

 $f(x) = e^x$

In [8]:
def e_prime(x):
    return np.exp(x)

e_prime(5)
# Ï∞∏Í≥† : https://blog.naver.com/PostView.nhn?blogId=sbssbi69&logNo=90164383593

148.4131591025766

$f(x) = lnx$

In [9]:
def ln_prime(x):
    return 1 / x

ln_prime(5)
# Ï∞∏Í≥† : https://blog.naver.com/PostView.nhn?blogId=sbssbi69&logNo=90164383593

0.2

$f(x) = Sin(2x)$

In [10]:
import math

def sine_prime(x):
  return 2*np.cos(2*x)

sine_prime(5)
# Ï∞∏Í≥† : https://rfriend.tistory.com/296 (ÏÇºÍ∞ÅÌï®Ïàò)

-1.6781430581529049

$f(x) = (2x^2 + 8x)^2$

In [11]:
def f_prime(x):
  return 2*(2*(x**2)+8*x) * (4*x+8)

f_prime(5)

5040

## 5. Ìé∏ÎØ∏Î∂Ñ

Ï£ºÏñ¥ÏßÑ `machine learning model`Ïùò `error function` ($\varepsilon$)Ïù¥ Îã§ÏùåÍ≥º Í∞ôÏùÑ Îïå `error function`ÏùÑ **ÏµúÏÜåÌôî** ÌïòÎäî ÏµúÏ†ÅÏùò `parameter`Îì§ÏùÑ  Íµ¨ÌïòÏÑ∏Ïöî. Í∑∏ ÌõÑ Í≤∞Í≥ºÎ•º Í∞ÅÍ∞Å `p1`, `p2`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.

$\varepsilon(p_1, p_2) = (e \cdot p_1 - p_2)^2 + {{k_2} \over { 2 }} \cdot p_2 $ 

$k_2 = 100$

- Îã® ÏµúÏ†ÅÏùò $p_1$ÏùÄ $p_2$Í∞Ä $3$ÏùºÎïå, ÏµúÏ†ÅÏùò $p_2$Îäî $p_1$Ïù¥ $10$ÏùºÎïåÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ìï©ÎãàÎã§.

In [12]:
# Œµ(p_1,p_2)=(e*p_1‚àíp_2)**2 + (k2/2)*p_2
# = (e*p_1‚àíp_2)**2 + (100/2)*p_2
# = (e*p_1‚àíp_2)**2 + 50*p_2

'''
p_2 = 3 Ïùº Îïå p_1 Íµ¨ÌïòÍ∏∞
(e*p_1‚àí3)**2 + 50*3
= (e*p_1‚àí3)**2 + 150
Œµ' = 2*(e*p_1‚àí3) * e = 0
2*(e*p_1‚àí3) * e = 0
e*p_1‚àí3 = 0
e*p_1 = 3
'''
p_1 = 3 / e
print(p_1)

'''
p_1 = 10 Ïùº Îïå p_2 Íµ¨ÌïòÍ∏∞
(e*10‚àíp_2)**2 + 50*p_2
Œµ' = 2*(e*10‚àíp_2) * (-1) + 50 = 0
-2*(10*e‚àíp_2) + 50 = 0
2*p_2 - 20*e + 50 = 0
2*p_2 = 20*e - 50
'''
p_2 = 10*e - 25
print(p_2)

1.103638323514327
2.18281828459045

$p_1 = {3 \over e}$

$p_2 = 10*e - 25$

## üî• ÎèÑÏ†ÑÍ≥ºÏ†ú

### Îã§Ïùå Ìï®ÏàòÎ•º ÎØ∏Î∂ÑÌïòÏÑ∏Ïöî. Ïù¥ÌõÑÏóê x = 3Ïùº ÎïåÏùò Í≤∞Í≥ºÎ•º `challenge`Ïóê Ï†ÄÏû•ÌïòÏÑ∏Ïöî.  
$\sigma(x) = {{1} \over {1 + e^-x}}$.

In [13]:
def sig_prime(x):
    return e**(-x) / (1+e**(-x))**2

challenge = sig_prime(3)
challenge
# Ï∞∏Í≥† : ÏûêÏó∞ÏÉÅÏàò ÎØ∏Î∂Ñ, Î∂ÑÏàòÌï®Ïàò ÎØ∏Î∂Ñ

0.04517665973091214